@media (max-width: 900px) {
    .header {
        display: none;
    }

    main {
        margin-left: 0;
        max-width: 100%;
    }

    .sidebar {
        width: 100%;
        height: 73px;
        inset: 0 0 auto 0;
        display: flex;
        align-items: center;
        position: fixed;
        right: auto;
    }

    .sidebar-inner {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .sidebar-logo {
        width: 72px;
        position: static;
        transform: none;
    }

    .sidebar-nav {
        display: none;
    }

    .sidebar-burger {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 20px;
        margin-left: auto;
    }

    .logo-arc-text {
        font-size: 18px;
    }

    .logo-initials {
        width: 34px;
        height: 34px;
        top: 50%;
        left: 50%;
        font-size: 32px;
        letter-spacing: 1px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero {
        padding-top: 73px;
    }

    .hero-arrow {
        display: none;
    }

    .mobile-menu {
        padding-top: 48px;
        height: 50%;
        border-radius: 0 0 30px 30px;
    }

    .mobile-menu-lang {
        color: rgb(74, 74, 74);
    }

    .mobile-menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}


@media (max-width: 720px) {

    main {
        margin-left: 0;
        max-width: 100%;
    }

    .header-actions {
        padding-right: 16px;
        gap: 18px;
    }

    .hero-inner {
        padding: 0 20px;
    }

    .hero-title {
        font-size: 54px;
    }

    .hero-content img {
        width: min(320px, 85vw);
    }

    .hero-image {
        height: 80vh;
    }

    .hero-arrow {
        right: 16px;
    }

    .hero-arrow img {
        width: 70px;
    }
}