@font-face {
    font-family: "Quantico";
    src: url("fonts/quantico-v19-latin-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


:root {
    --bg: #0b0f14;
    /* --text: #e6eef7; */
    --accent: rgb(181, 233, 59);
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
}


.sidebar {
    position: fixed;
    inset: 0 auto 0 0;
    width: 172px;
    height: 100vh;
    background: var(--accent);
    z-index: 50;
}


.sidebar-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 18px 12px;
}


.sidebar-logo {
    font-weight: 800;
    padding: 10px 12px;
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.25);
}


.sidebar-nav {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    position: absolute;
    top: 207px;
    left: 71px;
    gap: 28px;
}


.sidebar-btn {
    background: transparent;
    padding: 0;
    cursor: pointer;
    border: 0;
    /* height: 116px; */
    /* width: 36px; */
    color: rgb(74, 74, 74);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: "Quantico", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.4px;
    font-size: 30px;
    color: inherit;
    border-radius: 6px;
    transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
}


.sidebar-btn:hover {
    color: white;
}